<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Trang chủ</title>
    <link rel="icon" type="image/png" sizes="16x16" href"/public/images/favicon.png">
    <link href="/public/plugins/toastr/css/toastr.min.css" rel="stylesheet">
    <link href="/public/css/style.css" rel="stylesheet">

</head>

<body>
    {{!-- load --}}
    <div id="preloader" style="background-color: #ffffff80;">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    {{!-- load --}}

    <div id="main-wrapper">

        {{> header }}

        {{> slideBarAdmin }}
        {{> slideBarQL }}
        {{> slideBarNv }}
        
       
        <div class="content-body">
            <!-- row -->
            
            <div class="container-fluid">
                {{!-- Thông tin tổng quan --}}
                {{!-- danh sách hẹn --}}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="active-member">
                                    <div class="table-responsive">
                                        <div class="general-button">
                                            <button type="button" class="btn mb-1 btn-flat btn-outline-primary" onclick="getAppointment(1)">Đang chờ</button>
                                            <button type="button" class="btn mb-1 btn-flat btn-outline-primary" onclick="getAppointment(2)">Đã xác nhận</button>
                                            {{!-- <button type="button" class="btn mb-1 btn-flat btn-outline-primary" onclick="getAppointment(3)">Đã hoàn thành</button> --}}
                                            <button type="button" class="btn mb-1 btn-flat btn-outline-primary" onclick="getAppointment(4)">Đã hủy</button>
                                        </div>
                                        <h4 class="mb-1 mt-2">Danh sách lịch hẹn</h4>
                                        <table class="table table-xs mb-0">
                                            <thead>
                                                <tr>
                                                    <th>Tên khách hàng</th>
                                                    <th>Số điện thoại</th>
                                                    <th>Thể loại hẹn</th>
                                                    <th>Ngày dự kiến</th>
                                                    <th>Trạng thái</th>
                                                    <th>Xem</th>
                                                </tr>
                                            </thead>
                                            <tbody id="appointment-table">
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        
        <div class="modal fade show" id="exampleModalpopover" style="padding-right: 17px;">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Chi tết lịch hẹn</h5>
                        <button type="button" class="close" data-dismiss="modal"><span>×</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modal-body">
                        <h5>Thông tin khách hàng</h5>
                        <p>Họ tên: Phạm tiến thành công</p>
                        <p>Số điện thoại: 093653479</p>
                        <p>Địa chỉ: </p>
                        <hr>
                        <h5>Thông tin lịch hẹn</h5>
                        <p>
                            Thể loại hẹn: Xem xe
                        </p>
                        <p>
                            Ngày dự kiến: 12/12/2020
                        </p>
                        <p>
                            tiêu đề: Xem xe
                        </p>
                        <p>
                            Nội dung: Xem xe
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#exampleModal">Đổi trạng thái</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="padding-right: 17px;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Đổi trạng thái</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <input type="hidden" name="id" id="mid">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Ngày đến gặp:</label>
                                <input type="text" name="date" class="form-control" id="mdate">
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Giờ dự kiến:</label>
                                <input type="text" name="time" class="form-control" id="mtime">
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-danger" onclick="choseTime(4)">Hủy lịch hẹn</button>
                                <button type="button" class="btn btn-primary" onclick="choseTime(2)">Xác nhận lịch hẹn</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
    {{> footer }}
    
    {{!-- toastr --}}
    <script src="/public/plugins/toastr/js/toastr.min.js"></script>
    <script src="/public/plugins/toastr/js/toastr.init.js"></script>

</body>
    <script src="/public/javascript/nhanvien/appointment.js"></script>
</html>

{{!-- Path: views\admin\footer.hbs --}}