<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Trang chủ</title>
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <link href="/public/css/style.css" rel="stylesheet">

</head>

<body>
    {{!-- load --}}
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    {{!-- load --}}

    <div id="main-wrapper">

        {{> header }}

        {{> slideBarAdmin }}
        {{> slideBarQL }}
        {{> slideBarNv }}
       
        <div class="content-body">
            <!-- row -->
            
            <div class="container-fluid">
                {{!-- Thông tin tổng quan --}}
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="card gradient-1">
                            <div class="card-body">
                                <h3 class="card-title text-white">Lịch hẹn mới</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white appointment-number">0</h2>
                                    <p class="text-white mb-0">Chỉ số trực tuyến</p>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="mdi mdi-bell-outline"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card gradient-2">
                            <div class="card-body">
                                <h3 class="card-title text-white">Đơn hàng đã bán</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white" id="the-day-order">0</h2>
                                    <p class="text-white mb-0">Chỉ số hôm nay</p>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="mdi mdi-cart-outline"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card gradient-3">
                            <div class="card-body">
                                <h3 class="card-title text-white">Người dùng mới</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white" id="user-count"></h2>
                                    <p class="text-white mb-0">Chỉ số trực tuyến</p>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-users"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card gradient-4">
                            <div class="card-body">
                                <h3 class="card-title text-white">Sản phẩm</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white">99%</h2>
                                    <p class="text-white mb-0">Chỉ số trực tuyến</p>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-heart"></i></span>
                            </div>
                        </div>
                    </div>
                </div>

                {{!-- danh sách hẹn --}}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="active-member">
                                    <div class="table-responsive">
                                        <h4 class="mb-1">Danh sách lịch hẹn mới</h4>
                                        <table class="table table-xs mb-0">
                                            <thead>
                                                <tr>
                                                    <th>Tên khách hàng</th>
                                                    <th>Số điện thoại</th>
                                                    <th>Thể loại hẹn</th>
                                                    <th>Ngày dự kiến</th>
                                                    <th>Lời nhắn</th>
                                                </tr>
                                            </thead>
                                            <tbody id="appointment-table">
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        
        
    </div>
    
    {{> footer }}

</body>

<script src="/public/javascript/nhanvien/home.js"></script>

</html>