<footer>
        <div >
            <div style="display: flex;    justify-content: space-around;">
            </div>
        </div>
    </footer>
        <script src="/public/plugins/common/common.min.js"></script>
    <script src="/public/js/custom.min.js"></script>
    <script src="/public/js/settings.js"></script>
    <script src="/public/js/gleek.js"></script>
    <script src="/public/js/styleSwitcher.js"></script>