<div class="footer">
        <div class="copyright">
            <p>Copyright &copy; Hãng xe <a href="/">Thành Công</a> 2022</p>
        </div>
    </div>
    <script>
        const role = {{ user.role }};
    </script>
    <script src="/public/plugins/common/common.min.js"></script>
    <script src="/public/js/custom.min.js"></script>
    <script src="/public/js/settings.js"></script>
    <script src="/public/js/gleek.js"></script>
    <script src="/public/js/styleSwitcher.js"></script>
    <script src="/public/javascript/header.js"></script>