<header>
        <img src="/public/images/logo.png">
    </header>
    <div class="trai">
    </div>
    <nav>
        <div id="menu">
            <ul>
                <li><a href="/" target="_self">TRANG CHỦ</a></li>
                <li><a href="/gioi-thieu" target="_self">GIỚI THIỆU </a></li>
                <li>
                    <a href="#" target="_self">DANH MỤC SẢN PHẨM</a>
                    <ul>
                        <li>
                            <a href="/san-pham/xe-may"> XE MÁY</a>
                            {{!-- <ul>
                                <li><a href="honda-so.html">XE SỐ</a></li>
                                <li><a href="honda-tayga.html">XE TAY GA</a></li>
                                <li><a href="honda-taycon.html">XE CÔN TAY</a></li>
                                <li><a href="honda-moto.html">XE MÔ TÔ</a></li>
                            </ul> --}}
                        </li>
                        <li>
                            <a href="/san-pham/o-to"> XE Ô TÔ</a>
                            {{!-- <ul>
                                <li><a href="yamaha-so.html">XE SỐ SÀN</a></li>
                                <li><a href="yamaha-tayga.html">XE SỐ TỰ ĐỘNG</a></li>
                                <li><a href="yamaha-moto.html">XE ĐIỆN</a></li>
                            </ul> --}}
                        </li>
                        
                    </ul>
                </li>
                <li><a href="/lien-he" target="_self">LIÊN HỆ</a></li>
                <ul>
        </div>
        <div id="phai">
        </div>
        <div class="tim">
            <form>
                <input type="text" autofocus placeholder="Tìm kiếm xe, giá xe...">
                <input type="submit" value="Tìm kiếm">
            </form>
        </div>
        <div class="phai1"><a href="/login">ĐĂNG NHẬP</a></div>
        {{!-- <div class="phai1"><a href="user.html"><i class="fa-solid fa-user" style="margin-right: 10px;"></i>Dũng Phạm</a></div> --}}
    </nav>