<div class="nk-sidebar" id="slide-ql" style="display: none;">           
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="/admin/" aria-expanded="false">
                <i class="icon-speedometer menu-icon"></i>
                    <span class="nav-text">Tổng quan</span>
                </a>
            </li>
            <li>
                <a href="/admin/quan-ly-lich-hen" aria-expanded="false">
                <i class="icon-envelope menu-icon"></i>
                    <span class="nav-text">Quản lý lịch hẹn</span>
                </a>
            </li>
            <li class="nav-label">Quản lý người dùng</li>
            <li>
                <a href="/admin/danh-sach-nhan-vien" aria-expanded="false">
                <i class="fa fa-users"></i>
                    <span class="nav-text">Danh sách nhân viên</span>
                </a>
            </li>
            <li>
                <a href="/admin/danh-sach-nguoi-dung" aria-expanded="false">
                <i class="fa fa-users"></i>
                    <span class="nav-text">Danh sách người dùng</span>
                </a>
            </li>
            <li>
                <a href="/admin/tao-tai-khoan-nhan-vien" aria-expanded="false">
                <i class="icon-note menu-ico"></i>
                    <span class="nav-text">Mở tài khoản nhân viên</span>
                </a>
            </li>
            <li>
                <a href="/admin/tao-tai-khoan-khach" aria-expanded="false">
                <i class="icon-note menu-ico"></i>
                    <span class="nav-text">Mở tài khoản khách</span>
                </a>
            </li>
            {{!-- <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="fa fa-users"></i><span class="nav-text">Quản lý người dùng</span>
                </a>
                <ul aria-expanded="false" class="collapse">
                    <li><a href="/admin/danh-sach-nhanh-vien"></a></li>
                    <li><a href="/admin/danh-sach-nguoi-dung">Danh sách người dùng</a></li>
                    <li><a href="/admin/tao-tai-nhan-vien">Mở Tài khoản nhân viên</a></li>
                    <li><a href="/admin/tao-tai-khoan-khach">Mở Tài khoản khách</a></li>
                    <!-- <li><a href="./index-2.html">Home 2</a></li> -->
                </ul>
            </li>   --}}
            <li class="nav-label">Quản lý sản phẩm</li>
            <li>
                <a href="/admin/danh-sach-san-pham" aria-expanded="false">
                <i class="icon-speedometer menu-icon"></i>
                    <span class="nav-text">Các mẫu xe</span>
                </a>
            </li>
            <li>
                <a href="/admin/quan-ly-dich-vu" aria-expanded="false">
                <i class="fa fa-heart"></i>
                    <span class="nav-text">Danh sách dịch vụ</span>
                </a>
            </li>
            <li>
                <a href="/admin/quan-ly-don-hang" aria-expanded="false">
                <i class="fa fa-shopping-cart"></i>
                    <span class="nav-text">Danh sách đơn hàng</span>
                </a>
            </li>
            <li>
                <a href="/admin/them-san-pham" aria-expanded="false">
                <i class="icon-note menu-ico"></i>
                    <span class="nav-text">Thêm sản phẩm</span>
                </a>
            </li>
{{!--             
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="fa fa-heart"></i><span class="nav-text">Quản lý sản phẩm</span>
                </a>
                <ul aria-expanded="false" class="collapse">
                    <li><a href="/admin/danh-sach-san-pham">Các mẫu xe</a></li>
                    <li><a href="/admin/quan-ly-dich-vu">Danh sách dịch vụ</a></li>
                    <li><a href="/admin/quan-ly-don-hang">Danh sách đơn hàng</a></li>
                    <li><a href="/admin/them-san-pham">Thêm sản phẩm</a></li>
                </ul>
            </li>           --}}
        </ul>
    </div>
</div>