<div class="nk-sidebar">           
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="/admin/" aria-expanded="false">
                <i class="icon-speedometer menu-icon"></i>
                    <span class="nav-text">Tổng quan</span>
                </a>
            </li>
            <li>
                <a href="/admin/quan-ly-lich-hen" aria-expanded="false">
                <i class="icon-envelope menu-icon"></i>
                    <span class="nav-text">Quản lý lịch hẹn</span>
                </a>
            </li>
            <li>
                <a href="/admin/them-don-hang" aria-expanded="false">
                <i class="fa fa-shopping-cart"></i>
                    <span class="nav-text">Đơn hàng mới</span>
                </a>
            </li>
            
            <li>
                <a href="/admin/tạo-tai-khoan-khach" aria-expanded="false">
                <i class="icon-note menu-icon"></i>
                    <span class="nav-text">Mở tài khoản khách mới</span>
                </a>
            </li>
        </ul>
    </div>
</div>