<!doctype html>
<html>
<!-- InstanceBegin template="/Templates/template.dwt" codeOutsideHTMLIsLocked="false" -->

<head>
    <meta charset="utf-8">
    <!-- InstanceBeginEditable name="doctitle" -->
    <title>Thế giới xe</title>
    <link rel="stylesheet" type="text/css" href="/public/css/cssweb.css">
    <link rel="stylesheet" type="text/css" href="/public/css/trangchu.css">
    <script src="/public/java/chitiet.js"></script>
    <!-- InstanceEndEditable -->
    <!-- InstanceBeginEditable name="head" -->
    <!-- InstanceEndEditable -->
</head>

<body>

    {{> header_user }}

    <article>
        <section>
            <!-- InstanceBeginEditable name="noidung" -->
            <div class="wraper">
                <div class="slide">
                    <div class="slide_1 ra">
                        <img src="/public/images/FB.jpg" alt="" width="1100px" height="200 ">
                    </div>
                    <div class="slide_2">
                        <img src="https://www.suzuki.com.vn/images/GD110/BANNER-LAI-THU-GD110-APRIL.png" alt=""
                            width="1100px" height="200 ">
                    </div>
                    <div class="slide_3">
                        <img src="https://www.suzuki.com.vn/images/GSX150-Bandit/BANDIT-TEST-DRIVE-BANNER.png" alt=""
                            width="1100px" height="200 ">
                    </div>


                </div>
                <div class="nut">
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
            <div class="meta">
                <span
                  style="font-size: 40px;font-weight: 700;line-height: 1.2;"
                >
                  Giới thiệu
                </span>
                <p>
                  Chúng tôi có một hệ thống các showroom bán hàng và xưởng dịch vụ hoàn hảo cùng đội ngũ cán bộ có trình độ tay nghề cao đáp ứng yêu cầu bảo hành, sửa chữa tại chỗ cũng như lưu động mọi lúc, mọi nơi khi có yêu cầu của khách hàng, đảm bảo mang lại sự hài lòng, thuận tiện và thoải mái cho các Quý khách hàng khi đến với chúng tôi.
                </p>
                <p>
                  Thành Công Auto là nhà cung cấp các loại xe tải, xe chuyên dụng hàng đầu tại Việt Nam, được đánh giá là công ty phân phối và bán xe tải Uy Tín nhất hiện nay đảm bảo vững bước trên thị trường xe tải tại Việt Nam.
                </p>
              </div>
        </section>
        <div class="both111"></div>
    </article>
    
    {{> footer_user }}
    
</body>
<!-- InstanceEnd -->

</html>